:root {
  font: 16px / 1 sans-serif;
}

html {
  height: 100%;
}

body {
  margin: 0;
  min-height: 100%;
  background-color: rgb(229, 243, 242);
}

/* HEADER */

.title {
  display: flex;
  justify-content: center;
  min-height: 50px;
  padding: 1px;
  font-family: 'Georgia', serif;
  font-size: 50px;
  font-weight: normal;
  color: rgb(78, 95, 113);
}
ul.header-stuff {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 1px;
  justify-content: center;
  list-style-type: none;
  background-color: rgb(84, 196, 217);
  color: white;
}

.li-1 {
  width: 130px;
  margin: 0 -5px;
  text-align: center;
  padding: 6px;
}
.li-2 {
  width: 130px;
  margin: 0 -5px;
  text-align: center;
  padding: 6px;
}
.li-3 {
  width: 130px;
  margin: 0 -5px;
  text-align: center;
  padding: 6px;
}
.li-4 {
  width: 200px;
  margin: 0 -5px;
  text-align: center;
  padding: 6px;
}

/* FOOTER  */

ul.footer-list {
  display: flex;
  flex-wrap: wrap;
  background-color: rgb(216, 216, 216);
  justify-content: center;
  list-style-type: none;
}

.subscribe {
  padding: 16px;
}
.editors {
  padding: 16px;
}
.send {
  padding: 16px;
}
a.link-1,
.link-2,
.link-3,
.link-4 {
  color: white;
}
a.link-5,
.link-6,
.link-7 {
  color: black;
}

/* BODY  */

.parent {
  display: flex;
  justify-content: space-evenly;
}

div.child1 {
  border: solid;
  border-color: rgb(84, 196, 217);
  border-width: 1px;
  margin: 20px;
  height: 360px;
  min-width: 200px;
  line-height: 1.2em;
  font-family: 'Arial', sans-serif;
}

h2 {
  color: rgb(78, 95, 113);
  font-weight: bold;
  font-family: 'Arial', sans-serif;
  margin-bottom: 1px;
  margin-top: 20px;
}

h3 {
  color: rgb(78, 95, 113);
  margin-top: 1px;
  margin-left: 7px;
  font-family: 'Arial', sans-serif;
  font-size: 1.34rem;
}
div.child2 {
  min-width: 500px;
  min-height: 300px;
  margin-bottom: 4px;
  margin-left: 15px;
  margin-right: 50px;
  flex-grow: 1;
}

p.first-p {
  margin-top: 13px;
}
.child2 {
  line-height: 1.4;
  font-family: 'Arial', sans-serif;
}

img.pic {
  width: 190px;
  height: 200px;
  margin: 5px;
}
